[submodule "remark-templates"]
	path = remark-templates
	url = git@github.com:3mdeb/remark-templates.git
[submodule "slidev-template"]
	path = slidev-template
	url = https://github.com/3mdeb/slidev-template.git
